<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="connexionForm" class="form">
        <h1 class="title">Création de compte</h1>

        <mat-form-field>
            <input formControlName="name" matInput
                   name="name"
                   placeholder="Nom"
                   type="text">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="race" matInput
                   name="race"
                   placeholder="Race"
                   type="text">
        </mat-form-field>

        <mat-form-field>
            <input formControlName="gender" matInput
                   name="gender"
                   placeholder="Genre"
                   type="text">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="coat" matInput
                   name="coat"
                   placeholder="Pelage"
                   type="text">
        </mat-form-field>


        <mat-form-field>
            <input formControlName="city" matInput
                   name="city"
                   placeholder="Ville"
                   type="text">
        </mat-form-field>

        <mat-form-field>
            <input formControlName="identification" matInput
                   name="identification"
                   placeholder="N° d'identification"
                   type="text">
        </mat-form-field>

        <mat-form-field>
            <input formControlName="description" matInput
                   name="description"
                   placeholder="Description"
                   type="text">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="login" matInput
                   name="login"
                   placeholder="Adresse mail"
                   type="text">
        </mat-form-field>
        <mat-form-field>
            <input [type]="hide ? 'password' : 'text'"
                   formControlName="password"
                   matInput
                   name="password"
                   placeholder="Mot de passe"
                   required>
            <mat-icon (click)="hide = !hide" matSuffix>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>

            <mat-error [hidden]="!password.valid && password.errors.minlength">
                Le mot de passe doit faire au moins 4 caractères
            </mat-error>
        </mat-form-field>
        <div class="form__group">
            <button class="button form__item"
                    color="primary"
                    routerLink="/register"
                    mat-raised-button
                    type="submit">
                Créer mon compte
            </button>
        </div>
    </form>
</div>
