.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 0 0 400px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.2);
}

.form__group {
    display: flex;
    flex-direction: row;
}

.form__group > .form__item {
    flex: 1;
}

.form__group > .form__item:not(:last-child) {
    margin-right: 8px;
}

.form__group > .form__item:not(:first-child) {
    margin-left: 8px;
}

.title {
    text-align: center;
}

.button {
    margin-top: .84375em;
}
