.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidenav-navigation {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidenav-group-bottom {
    flex: 1 0 auto;
}

.sidenav-submenu {
    width: 250px;
}
