<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)"
                 class="sidenav"
                 fixedInViewport="true">
        <div class="sidenav-navigation">
            <mat-toolbar>Meet my Pussy</mat-toolbar>
            <mat-nav-list *ngIf="isAuthenticated" class="sidenav-group sidenav-group-bottom">
                <a href="#" mat-list-item routerLink="/" routerLinkActive="active">
                    <mat-icon matListIcon>group</mat-icon>
                    <span matLine>Mes conversations</span>
                </a>
            </mat-nav-list>

            <mat-nav-list *ngIf="!isAuthenticated" class="sidenav-group">

                <a href="#" mat-list-item routerLink="/login" routerLinkActive="active">
                    <mat-icon matListIcon>exit_to_app</mat-icon>
                    <span matLine>Connexion</span>
                </a>

            </mat-nav-list>

            <mat-nav-list *ngIf="isAuthenticated" class="sidenav-group">

                <a href="#" mat-list-item routerLink="/profile" routerLinkActive="active">
                    <mat-icon matListIcon>account_circle</mat-icon>
                    <span matLine>Mon profil</span>
                </a>
                <a href="#" mat-list-item routerLink="/logout" routerLinkActive="active">
                    <mat-icon matListIcon>exit_to_app</mat-icon>
                    <span matLine>Se déconnecter</span>
                </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async"
                aria-label="Toggle sidenav"
                mat-icon-button
                type="button">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <app-global-search style="margin: 0 auto;"></app-global-search>
        </mat-toolbar>
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
