<div *ngIf="profile===null">Chargement en cours</div>
<div *ngIf="profile!==null" class="profile">
    <header class="profile__header">
        <img src="assets/banner.jpg" alt="Photo de couverture" class="profile__banner">
        <article class="profile__identity">
            <div class="profile__frame">
                <img src="assets/banner.jpg" alt="Photo de profil" class="profile__photo"></div>
            <div class="profile__name">{{ profile !== null ? profile.name : 'Not loaded' }}</div>
        </article>
        <button mat-fab
                class="edition"
                color="primary"
                type="button"
                routerLink="edit">
            <mat-icon aria-label="Icone de modification du profil">edit</mat-icon>
        </button>
    </header>
    <section class="profile__body">
        <article class="profile__content">
            <mat-tab-group>
                <mat-tab label="Informations">
                    <ng-template matTabContent>
                        <div class="tab__content">
                            <app-profile-infos [profile]="profile"></app-profile-infos>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Amis">
                    <ng-template matTabContent>
                        <div class="tab__content">Hello</div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Photos">
                    <ng-template matTabContent>
                        <div class="tab__content">
                            <app-profile-photos></app-profile-photos>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </article>

    </section>
</div>
