.profile {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.2);
}

.profile__header {
    position: relative;
    width: 100%;
    flex: 0 1 240px;
    overflow: hidden;
}
.profile__banner {
    width: 100%;
}
.profile__body {
    flex: 1 1 auto;
}
.profile__identity {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.profile__frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 128px;
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
}
.profile__photo {
    height: 100%;
}
.profile__name {
    flex: 1 1 auto;
    font-size: 32px;
    color: #fff;
    line-height: 1.5;
    margin-left: 16px;
    text-shadow: 0 0 6px hsla(0, 0%, 0%, 0.5);
}

.tab__content {
    padding: 16px;
}

.edition {
    position: absolute;
    top: 16px;
    right: 16px;
}
