<div class="container">
    <form *ngIf="profile !== null" (ngSubmit)="onSubmit()" [formGroup]="connexionForm" class="form">
        <h1 class="title">Edition du profil</h1>

        <mat-form-field>
            <input formControlName="name" matInput
                   name="name"
                   placeholder="Nom"
                   type="text">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="race" matInput
                   name="race"
                   placeholder="Race"
                   type="text">
        </mat-form-field>

        <mat-form-field>
            <input formControlName="gender" matInput
                   name="gender"
                   placeholder="Sexe"
                   type="text">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="coat" matInput
                   name="coat"
                   placeholder="Pelage"
                   type="text">
        </mat-form-field>


        <mat-form-field>
            <input formControlName="city" matInput
                   name="city"
                   placeholder="Ville"
                   type="text">
        </mat-form-field>

        <mat-form-field>
            <input formControlName="identification" matInput
                   name="identification"
                   placeholder="N° d'identification"
                   type="text">
        </mat-form-field>

        <mat-form-field>
      <textarea formControlName="description" matInput matTextareaAutosize
                name="description"
                placeholder="Description"
                type="text">
      </textarea>
        </mat-form-field>
        <div class="form__group">
            <button class="button form__item"
                    color="primary"
                    mat-raised-button
                    type="submit">
                Modifier
            </button>
        </div>
    </form>
</div>
