<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{ client.nom }}</mat-card-title>
            <mat-card-subtitle>{{ client.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <a href="./client/0" mat-button>{{ "Fiche client" | uppercase }}</a>
            <a color="primary" href="./client/0/projets" mat-button>{{ "Projets" | uppercase }}</a>
        </mat-card-actions>
    </mat-card>
</div>
