.container {
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 20%;
    box-sizing: border-box;
    padding: 8px 8px 16px 8px;
    min-width: 300px;
    margin: 8px;
}
