<div class="description">
{{ profile.description }}
</div>
<div class="infos-container">
  <div class="infos-column">
    <div class="info">
      <div class="info__label">Nom</div>
      <div class="info__value">{{ profile.name }}</div>
    </div>
    <div class="info">
      <div class="info__label">N° d'identification</div>
      <div class="info__value">{{ profile.identification }}</div>
    </div>
    <div class="info">
      <div class="info__label">Race</div>
      <div class="info__value">{{ profile.race }}</div>
    </div>
  </div>
  <div class="infos-column">
    <div class="info">
      <div class="info__label">Sexe</div>
      <div class="info__value">{{ profile.gender }}</div>
    </div>
    <div class="info">
      <div class="info__label">Pelage</div>
      <div class="info__value">{{ profile.coat}}</div>
    </div>
    <div class="info">
      <div class="info__label">Ville</div>
      <div class="info__value">{{ profile.city }}</div>
    </div>
  </div>
</div>
