.description {
    padding: 16px;
    font-style: italic;
    background-color: hsla(0, 0%, 0%, 0.05);
    border-radius: 3px;
}
.infos-container {
    display: flex;
    flex-direction: row;
}
.infos-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1 1 50%;
}
.info {
    margin-top: 16px;
}
.info__label {
    font-weight: 600;
}
