<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="connexionForm" class="form">
        <h1 class="title">Connexion</h1>
        <mat-form-field>
            <input formControlName="username" matInput
                   name="username"
                   placeholder="Entrez votre identifiant"
                   type="text">
        </mat-form-field>

        <mat-form-field>
            <input [type]="hide ? 'password' : 'text'"
                   formControlName="password"
                   matInput
                   name="password"
                   placeholder="Entrez votre mot de passe"
                   required>
            <mat-icon (click)="hide = !hide" matSuffix>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>

            <mat-error [hidden]="!password.valid && password.errors.minlength">
                Le mot de passe doit faire au moins 4 caractères
            </mat-error>
        </mat-form-field>
        <div class="form__group">
            <button class="button form__item"
                    routerLink="/register"
                    mat-stroked-button
                    type="button">
                Créer mon compte
            </button>
            <button class="button form__item"
                    color="primary"
                    mat-raised-button
                    type="submit">
                Connexion
            </button>
        </div>
    </form>
</div>
